@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}
